@*
    起業リストを紹介する画面
*@
@{
    @model CompanyModel

    int id = -1;
    string name = "";
    string comment = "";
    string incorporationAt = "";
    string createAt = "";

    if (ViewBag.companyData != null) {
        id = ViewBag.companyData.Id;
        name = ViewBag.companyData.Name;
        comment = ViewBag.companyData.Comment;
        incorporationAt = ViewBag.companyData.IncorporationAt;
        createAt = ViewBag.companyData.CreateAt;
    }
 }
<input type="hidden" id="companyID" value="@id" />
<input type="hidden" id="createAt" value="@createAt" />
<div class="form-group">
    <label for="name">企業名</label>
    <input type="text" class="form-control" id="name" placeholder="企業名" value="@name" />
</div>
<div class="form-group">
    <label for="comment">コメント</label>
    <input type="text" class="form-control" id="comment" placeholder="コメント" value="@comment" />
</div>
<div class="form-group">
    <label for="incorporation_at">設立日</label>
    <input type="date" class="form-control" id="incorporationAt" placeholder="設立日" value="@incorporationAt" />
</div>
<div class="float-right">
    @{
        if (id > -1)
        {
            <button type="button" class="btn btn-primary" onclick="modifyCompany()">修正</button>
        }
        else
        {
            <button type="button" class="btn btn-primary" onclick="addCompany()">登録</button>
        }
    }

</div>

@section Scripts{
    <script type="text/javascript">
        async function modifyCompany() {
            if (!isValidForm()) {
                return
            }
            data = {
                id: document.querySelector("#companyID").value,
                name: document.querySelector("#name").value,
                comment: document.querySelector("#comment").value,
                incorporationAt: document.querySelector("#incorporationAt").value,
                createAt: document.querySelector("#createAt").value,
            }
            await getResponse("/Company/Modify", "POST", data, "/Company/List", 1000);
        }
        async function addCompany() {
            if (!isValidForm()) {
                return
            }
            
            data = {
                name:            document.querySelector("#name").value,
                comment:         document.querySelector("#comment").value,
                incorporationAt: document.querySelector("#incorporationAt").value,
            }
            await getResponse("/Company/Add", "POST", data, "/Company/List", 1000);
        }

        // 必需値が入力されたか確認する
        function isValidForm() {
            let name = document.querySelector("#name").value;
            let incorporationAt = document.querySelector("#incorporationAt").value;
            let incorporationDate = new Date(incorporationAt);

            if (name.length == 0) {
                showMessage("企業名を入力してください。", "warning");
                return false;
            }
            if (incorporationDate > Date.now()) {
                showMessage("設立日は未来の日付で設定出来ません。", "warning");
                return false;
            }

            return true;
        }
    </script>
}